*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    
}
.header {
    height: 1080px;
    background-image:url("../img/fon.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: cover; */
}
.header__menu {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}
.header__list {
}
.header__phone {
}
.header__fone {
}
.header__mintext {
}